---
//@ts-nocheck
import Layout from '../layouts/Layout.astro';
import Pcard from '../components/Pcard.astro';
const endpoint = "https://mulxnlchwlxnteskkfqi.supabase.co/rest/v1/produkter?select=*";
const options = {
    headers: {
        apikey: "sb_publishable_EtDt8ZFb2H5AmJoh2n0X6g_kQAaAFUC"
    }
}
const data = await fetch(endpoint, options).then(response=>response.json())

const products = data.products;

//console.log(data);

console.log(data);

---

<Layout>
<h2>Products</h2>
<section>
    {data.map((product) => (<Pcard {product}/>))}
</section>
</Layout>

<style>
section {
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
</style>
